*{
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}
/* * > body{
    background-color: #0099ff;
} */
/* CSS */
.video-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.video-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(41, 40, 40, 0.466);
    display: flex;
    align-items: center;
    justify-content: center;
}

.centered-text {
    text-align: center;
    color: white; 
}

.centered-text h1 {
    font-size: 2em; 
    margin: 0; 
}

.navbar-brand span{
    vertical-align: middle;
    font-size:1.2rem;
    font-weight:700;
}
.about-section {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.about-content {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: 6rem;
    gap: 3rem;
}

.Info {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    justify-content: space-between;
}

.about-section .styled-list {
    text-indent: 20px;
    text-align: justify;
    padding-top: 5rem;
    font-size: 16px;
}

.styled-list ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.styled-list ol li {
    counter-increment: custom-counter;
    color: var(--text-color);
    padding-left: 30px;
    text-indent: 0px;
    margin-bottom: 10px;
    position: relative;
    line-height: 1.4;
}

.styled-list ol li::before {
    content: counter(custom-counter);
    font-weight: bold;
    color: var(--text-hov);
    margin-right: 10px;
}
.image-container {
    flex: 1.5;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-size: cover;
}

.image-container img {
    transform: perspective(1000px) rotateX(8deg) rotateY(-14deg) rotateZ(4deg);
    max-width: 100%;
    max-height: 100%;
    height: 100%;
    opacity: 0.9;
    border-radius: 1.2rem;
    box-shadow: 10px 10px 29px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 29px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 29px 0px rgba(0, 0, 0, 0.75);
}

h2 {
    font-size: 3rem;
    font-weight: 900;
    line-height: 1;
    margin-block: 1rem;
    text-align: center;
    /* color: red; */
}

.gallery-container {
    margin-top: 20px;
}

.gallery-item {
    margin-bottom: 20px;
}

.gallery-img {
    width: 100%; /* Ukuran gambar akan mengambil lebar penuh dari container */
    height: auto; /* Tinggi gambar akan disesuaikan agar proporsi tetap terjaga */
}


@media (min-width: 291px) and (max-width: 767px) {
    .about-content {
        padding-inline: 5%;
        display: flex;
        flex-direction: column;
        margin: 0;
        /* gap: 1rem; */
    }
    .about-content .image-container img {
        transform: none;
    }
}

.row {
    margin: 15px;
  }
  body,
  html {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
  }
  @supports (display: grid) {
    body,
  html {
      display: block;
    }
  }
  
  .message {
    border: 1px solid #d2d0d0;
    padding: 2em;
    font-size: 1.7vw;
    box-shadow: -2px 2px 10px 0px rgba(68, 68, 68, 0.4);
  }
  @supports (display: grid) {
    .message {
      display: none;
    }
  }
  
  .section {
    display: none;
    padding: 2rem;
  }
  @media screen and (min-width: 768px) {
    .section {
      padding: 4rem;
    }
    
  }
  @supports (display: grid) {
    .section {
      display: block;
    }
  }
  
  h1 {
    font-size: 2rem;
    margin: 0 0 1.5em;
  }
  
  .grid {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 150px;
    grid-auto-flow: row dense;
  }
  
  .item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    box-sizing: border-box;
    background: #0c9a9a;
    color: #fff;
    grid-column-start: auto;
    grid-row-start: auto;
    color: #fff;
    background: url("/assets/images/museum-lampung.png");
    background-size: cover;
    background-position: center;
    border-radius: 12px;
    box-shadow: -2px 2px 10px 0px rgba(68, 68, 68, 0.4);
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
    /* counter-increment: item-counter; */
  }
  .item:nth-of-type(1n) {
    background-image: url('/assets/images/Screenshot 2024-02-17 at 14.01.21.png');
  }
  .item:nth-of-type(2n) {
    background-image: url('/assets/images/Screenshot 2024-02-17 at 14.01.54.png');
  }
  .item:nth-of-type(3n) {
    background-image: url('/assets/images/Screenshot 2024-02-17 at 14.07.17.png');
  }
  .item:nth-of-type(4n) {
    background-image: url('/assets/images/Koleksi-Museum-Lampung-Yopie-Pangkey-6.jpg');
  }
  .item:nth-of-type(5n) {
    /* height: 300px;
    margin-bottom: 12px; */
    background-image: url('/assets/images/depan.png');
  }
  .item:nth-of-type(6n) {
    background-image: url('/assets/images/museum-lampung-2.jpg');
  }
  .item:nth-of-type(7n) {
    background-image: url('/assets/images/Koleksi-Museum-Lampung-Yopie-Pangkey-4.jpg');
  }
  .item:nth-of-type(8n) {
    background-image: url('/assets/images/Screenshot 2024-02-17 at 14.05.26.png');
  }
  .item:nth-of-type(9n) {
    background-image: url('/assets/images/Koleksi-Museum-Lampung-Yopie-Pangkey-11-2.jpg');
  }
  .item:nth-of-type(10n) {
    background-image: url('/assets/images/Screenshot 2024-02-17 at 14.07.56.png');
  }
  .item:nth-of-type(11n) {
    background-image: url('/assets/images/Koleksi-Museum-Lampung-Yopie-Pangkey-5.jpg');
  }
  .item:nth-of-type(12n) {
    background-image: url('/assets/images/Koleksi-Museum-Lampung-Yopie-Pangkey-3-2.jpg');
  }
  .item:nth-of-type(13n) {
    background-image: url('/assets/images/Koleksi-Museum-Lampung-Yopie-Pangkey-2-2.jpg');
  }
  .item:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background-color: black;
    opacity: 0.3;
      .item:nth-of-type(3n) {
    background-image: url('/assets/images/Screenshot 2024-02-17 at 14.07.17.png');
  }
  /* .item:nth-of-type(4n) {
    background-image: url('/assets/images/Koleksi-Museum-Lampung-Yopie-Pangkey-6.jpg');
  }
  .item:nth-of-type(5n) {
    background-image: url('/assets/images/Koleksi-Museum-Lampung-Yopie-Pangkey-5.jpg');
  }
  .item:nth-of-type(6n) {
    background-image: url('/assets/images/museum-lampung-2.jpg');
  } */
    transition: opacity 0.3s ease-in-out;
  }
  .item:hover {
    transform: scale(1.05);
  }
  .item:hover:after {
    opacity: 0;
  }
  .item--medium {
    grid-row-end: span 2;
  }
  .item--large {
    grid-row-end: span 3;
  }
  .item--full {
    grid-column-end: auto;
  }
  @media screen and (min-width: 768px) {
    .item--full {
      grid-column: 1/-1;
      grid-row-end: span 2;
    }
  }
  .item__details {
    position: relative;
    z-index: 1;
    padding: 8px;
    color: #444;
    background: #fff;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    text-transform: lowercase;
    letter-spacing: 1px;
    color: #828282;
    transition: all 0.8s ease-in-out;
    display: none;
  }
  .item__details:before {
    /* content: counter(item-counter); */
    font-weight: bold;
    font-size: 1.1rem;
    padding-right: 0.5em;
    color: #444;
  }

    .item:hover .item__details {
        display: block; 
    }


  .footer{
    background-color: #333;
    color: white;
    margin: 0;
    padding: 0;
  }

  iframe{
    border-radius: 20px;
  }
.footer-section {
    padding-top: 20px;
    /* font-size: calc(3rem + 0.8vw); */
    padding-inline: calc(30px + 0.2vw);
    margin-bottom: 20px;
}

.footer-section h3 {
    color: #fff;
    font-size: 1.5em;
    margin-bottom: 10px;
}

.footer-links {
    list-style: none;
    padding: 0;
}

.footer-links li {
    margin-bottom: 8px;
    margin-left: 8px;
}

.footer-links a {
    text-decoration: none;
    color: #bfbfbf;
    font-weight: 500;
    transition: color 0.3s ease;
}

.footer-links a:hover {
    color: #fff;
}
